[Desktop Entry]
Name=KEEN 2
GenericName=Spiele
Comment=DOS Spiele starten
Exec=dosbox -noautoexec -exit -conf /opt/dosbox/dosbox-0.74-3.conf /opt/dosbox/drive_c/CommanderKeen/keen2/KEEN2.EXE
Terminal=false
Type=Application
Keywords=dosbox;commander;keen;
Icon=/opt/dosbox/icons/keen2.ico
Categories=Game;
StartupNotify=true
